<a href="https://colab.research.google.com/github/AprendaPracticando/AlmacenesDeDatos/blob/main/ADV04_Load.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 04 Load usando pandas

---

In [1]:
# Importando la librería de pandas

import pandas as pd

In [3]:
# Se genera un diccionario con datos de empleados, para generar un DataFrame

dir_empleado={
    'id':[10,20,30,40,50,60,70,10],
    'nombre':['Juan','Pedro','Ana','Cristina','Diana','Raúl',None,'Juan'],
    'fecha_nac':['2005-01-23','2005-02-13','2005-04-04','2005-11-03',
                 '2005-07-12','2005-09-28','2005-02-01','2005-01-23'],
    'peso_kg':[65,55,47,66,84,49,50,65],
    'cve_puesto':['AG', 'AG', 'JD', 'GG', 'AG', 'AO', 'AO', 'AG']
}

In [2]:
# Se genera un diccionario con datos de puestos, para generar un DataFrame

dir_puestos={
    'cve_puesto':['AG','JD','GG','AO'],
    'desc_puesto':['AYUDANTE GENERAL','JEFE DE DEPARTAMENTO',
                   'GERENTE GENERAL','AUXILIAR DE OPERACIONES'],
    'salario':[6500.00,12345.50,25889.20,5850.35],
    'nivel':[3,2,1,3]
}

In [4]:
# Creación de un DataFrame a partir de un diccionario

empleados=pd.DataFrame(dir_empleado)

# Muestra el contenido del DataFrame
print(empleados)

   id    nombre   fecha_nac  peso_kg cve_puesto
0  10      Juan  2005-01-23       65         AG
1  20     Pedro  2005-02-13       55         AG
2  30       Ana  2005-04-04       47         JD
3  40  Cristina  2005-11-03       66         GG
4  50     Diana  2005-07-12       84         AG
5  60      Raúl  2005-09-28       49         AO
6  70      None  2005-02-01       50         AO
7  10      Juan  2005-01-23       65         AG

In [5]:
# Creación de un DataFrame a partir de un diccionario

puestos=pd.DataFrame(dir_puestos)

# Muestra el contenido del DataFrame
print(puestos)

  cve_puesto              desc_puesto   salario  nivel
0         AG         AYUDANTE GENERAL   6500.00      3
1         JD     JEFE DE DEPARTAMENTO  12345.50      2
2         GG          GERENTE GENERAL  25889.20      1
3         AO  AUXILIAR DE OPERACIONES   5850.35      3

Como se puede apreciar el **atributo de coincidencia** es el que permite la unión de los campos de empleados y puestos. En este caso, el DataFrame *empleados* actúa como tabla débil, y *puestos* actúa como tabla fuerte.

In [6]:
# Se anexan las columnas de puestos a empleados, y se guardan en un
# nuevo DataFrame llamado master. Se integrarán las filas de ambos
# DataFrames, siempre y cuando haya coincidencia de valores en la
# columna cve_puesto.
master=empleados.merge(puestos,
                       on='cve_puesto',
                       how='inner')

# Ver los datos integrados.
master

,id,nombre,fecha_nac,peso_kg,cve_puesto,desc_puesto,salario,nivel
0,10,Juan,2005-01-23,65,AG,AYUDANTE GENERAL,6500.00,3
1,20,Pedro,2005-02-13,55,AG,AYUDANTE GENERAL,6500.00,3
2,50,Diana,2005-07-12,84,AG,AYUDANTE GENERAL,6500.00,3
3,10,Juan,2005-01-23,65,AG,AYUDANTE GENERAL,6500.00,3
4,30,Ana,2005-04-04,47,JD,JEFE DE DEPARTAMENTO,12345.50,2
5,40,Cristina,2005-11-03,66,GG,GERENTE GENERAL,25889.20,1
6,60,Raúl,2005-09-28,49,AO,AUXILIAR DE OPERACIONES,5850.35,3
7,70,None,2005-02-01,50,AO,AUXILIAR DE OPERACIONES,5850.35,3

In [7]:
# Guarda los datos integrados en un archivo CSV.

# Revisa en el folder de la lateral izquierda, para comprobar
# la creación del archivo.

master.to_csv('master_datos.csv')

In [10]:
# Guarda los datos integrados en un archivo Excel.

# Revisa en el folder de la lateral izquierda, para comprobar
# la creación del archivo.

master.to_excel('master_datos.xlsx',
              sheet_name='Hoja 1')